body {
}

.table {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
}

    .table td, .table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table tr:hover {
        background-color: #ddd;
    }

    .table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #27007D;
        color: white;
    }

        .table th a {
            color: white;
            text-decoration: none;
        }

.first {
    margin-top: 30px;
}

.button {
    display: inline-block;
    padding: 2px 10px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #9F9C99;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
}

    .button a {
        color: white;
        text-decoration: none;
    }

    .button:hover {
        background-color: #99cd2c
    }

    .button:active {
        background-color: #3e8e41;
        box-shadow: 0 2px #666;
        transform: translateY(2px);
    }
